/*FUENTES*/
@font-face{
    font-family: "gentium";
    src: url("fonts/GentiumBookPlus/GentiumBookPlus-Regular.ttf");
    /*arregla la visualizacion de la fuentedentro de internet explorer*/
    src: url("fonts/GentiumBookPlus/GentiumBookPlus-Regular.ttf?#iefix") format("truetype"),
        url("fonts/GentiumBookPlus/GentiumBookPlus-Regular.woff") format("woff"),
        url("fonts/GentiumBookPlus/GentiumBookPlus-Regular.eot") format("embedded-opent"),
        url("fonts/GentiumBookPlus/GentiumBookPlus-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}



/*ESTILOS GENERALES*/
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(247, 247, 236);
}

a{
    color:#333333;
    text-decoration: none;

}

a:visited{
    color:#333333;
    text-decoration: none;
    
}

a:hover{
    color:rgb(212, 141, 141);
    text-decoration: none;
    
}

.red{
    color: red !important;
}



/*FORMULARIO*/

input[type="text"],
input[type="email"],
input[type="password"],
select{
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: grey;
    transition: all 300ms;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus{
    border: 1px solid grey;
    color:black;

}
input[type="button"],
input[type="submit"],
input[type="reset"],
button{
    display: block;
    border-radius: 2px;
    border: 1px solid rgb(70, 48, 48);
    width: 60px;
    padding: 3px;
    background-color: grey;
    cursor: pointer;
    color:white;

}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
    box-shadow: 0px 0px 2px red;

}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:hover{
    box-shadow: 0px 0px 5px red inset;
    text-shadow: 0px 0px 1px white;

}


/*CABECERA*/
#header{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

#header a{
    text-decoration: none;
}

#header #logotipo{
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
    
}

#header #logotipo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 200px;
    z-index: 1;

}

#header h1{
    text-align: center;
    font-size: 40px;
    font-family: "gentium";
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 0px;
    z-index: 2;
    position: absolute;
    top: 200px;
    left: 42%;
    text-shadow: 0px 2px 1px grey;
    transition: all 300ms;

}

#header h1:hover{
    text-shadow: 0px 2px 1px grey, 2px 2px 4px rgb(161, 74, 74);
}


#header h1 a{
    color: rgb(102, 110, 90);
}

/*Menu*/
#nav {
    min-width: 100%;
    height: 40px;
    background-color: #333333;
    color: aliceblue;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
    margin-top: 30px;
}

#nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1130px;
}

#nav > ul > li {
    line-height: 40px;
    float: left;
    border-right: 1px solid grey;
    transition: all 500ms;

}

#nav > ul > li a {
    display: block;
    padding-left:20px;
    padding-right: 20px;
    color:white;
    text-decoration: none;
    
}

#nav > ul > li > a:first-child{
    border-left: 1px solid grey;
}

#nav > ul > li:hover{
    background-color: grey;
    /*Sombra en el box*/
    box-shadow: 4px 4px 20px grey;
}

/*Menu desplegable*/

#nav > ul > li > ul{
    /*oculto*/
    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0px 2px 2px grey;
    z-index: 1;
}

#nav > ul > li:hover > ul{
    display: block;

}

#nav > ul > li:hover > ul > li{
    display: block;
    background-color: rgb(218, 209, 209);
    border-bottom: 1px solid #d8caca;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;

}

#nav > ul > li:hover > ul > li a{
    color: #666666
}

#nav > ul > li:hover > ul > li:hover{
    box-shadow: 0px 0px 2px #ccc insert;
    background: rgb(245, 239, 239);
    border: 1px solid black;
}

/*CONTENIDO*/

#content{
    width: 1250px;
    min-height: 1100px;
    margin: 0px auto;

}

/*BARRA LATERAL*/
#aside, #frase{
   
    width: 200px;
    float:left;
    margin: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px grey;
    font-family: sans-serif, Arial, Helvetica;


}

#frase{
     /*hace que los aside se pongan uno abajo de otro*/
    position: relative;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
}

#frase a{
    color:rgb(161, 74, 74)
}

#aside .widget{
    display:block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333333;

}

#aside .widget:last-child{
    margin-bottom: 20px;

}


#aside h3{
    display:block;
    color: #333333;
    width:100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    background: rgb(223, 215, 215);
    border: 1px solid rgb(177, 172, 172);
    border-left: none;
    border-right: none;
}

#aside li{
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;
}

/*Formularios barra lateral*/
#aside div label,
#aside div input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div a{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;

}

#aside div input[type="button"],
#aside div input[type="submit"],
#aside div button{
    margin-top: 5px;
    margin-bottom: 10px;

}

#aside input,
#aside label{
    margin: 0px auto;
    text-align: center;

}

/*SECCIONES*/
#sections{
    width: 75%;
    float: right;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 20px;

}

#sections .titulo{
    font-family: "gentium";
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: -20px;

}

#sections section{
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px grey;
    color: black;
    font-size: 16px;
    overflow: hidden;
    
}

#section .article{
    margin:30px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#section .date{
    color: #666666;
    font-size: 15px;

}

#sections .stickerOne,
#sections .stickerTwo{
    position: absolute;
    margin-top: -40px;
    z-index: 0;
}

#sections .stickerTwo{
    margin-left: 60%;
}


 #sections .article a{
    font-size: 16px;
    font-weight: bold;
    color:black;
 }   


 .clearfix{
    float:none;
    clear: both;

    
 }

/*History*/

#history{
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}


 /*FOOTER*/
 #footer{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 60px;
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #c9c9c9;
    font-family: "gentium";
    font-size: 14px;
    box-shadow: 0px 0px 2px grey;

 }
